Repository go-task/task, pull requests merged in 2023-07, with the labels that each got.

#1254 docs: fix two minor typos in usage.md
  docs/docs/usage.md
Labels: area: docs

#1256 fix: propagate include vars in multi-level includes
  task_test.go
  taskfile/read/taskfile.go
  testdata/include_with_vars_multi_level/Taskfile.yml
  testdata/include_with_vars_multi_level/bar/Taskfile.yml
  testdata/include_with_vars_multi_level/foo/Taskfile.yml
  testdata/include_with_vars_multi_level/lib/Taskfile.yml
Labels: type: bug

#1263 fix: add nil guards in dependency merge
  taskfile/merge.go
Labels: type: bug

#1279 docs: add japanese and turkish translations
  docs/docusaurus.config.js
Labels: area: docs, area: translation
