Repository go-task/task, pull requests merged in 2024-02, with the labels that each got.

#1512 fix: panic when using --list and --silent
  cmd/task/task.go
  help.go
Labels: type: bug, area: remote

#1510 docs: specify that variable declaration order is respected
  docs/docs/api_reference.md
Labels: area: docs

#1495 Style guide: improved spelling and wording
  docs/docs/styleguide.md
Labels: area: docs

#1491 docs: remove unnecessary docs for requires
  docs/docs/api_reference.md
Labels: area: docs

#1518 Update usage.md
  docs/docs/usage.md
Labels: area: docs

#1520 fix: list tasks
  cmd/task/task.go
  help.go
Labels: type: bug
